<div class="contacts-grid">
  <%= render 'contacts/list', contacts: @contacts, selected_contact: nil %>
  <div class="text-secondary">
    Select a contact to view details

    <%# link_to download the csv  %>
    <%= link_to "Download CSV", contacts_path(format: :csv), class: "btn btn-primary" %>
  </div>
</div>